.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 250px;
    margin: 0 auto;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Стили для изображения товара */
.card-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Стили для названия товара */
.card-title {
    font-size: 1.2rem;
    color: #333;
    margin: 0 0 10px;
}

/* Стили для цены товара */
.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.price-label {
    font-size: 1rem;
    color: #555;
}

.price-value {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

/* Стили для кнопок */
.card-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.details-button {
    background-color: #4caf50;
    color: #fff;
}

.details-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.add-to-cart-button {
    background-color: #ff6b6b;
    color: #fff;
}

.add-to-cart-button:hover {
    background-color: #ff5252;
    transform: scale(1.05);
}